.bodydiv{
    padding: 100px 200px;
    background-color: white;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 25px;
}
.boxlink{
    width: 400px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.616);
    height: auto;
    font-size: 35px;
    background-color: var(--blue2);
    color: var(--brown);
    transition: transform 0.3s ease;
}
.boxlink a{
    display:flex;
    flex-direction: column;
    height: 175px;
    justify-content: space-between;
    padding: 10px;
}
.boxlink i{
    display: flex;
    font-size: 50px;
}
.boxlink:hover{
    transform: translatey(-20px);
}


